
button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
}
button:hover {
   color: red;
}
.todo-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
}