todo-container {
    display: flex;
    justify-content: center;
    background-color: grey;
}
todo-list {
    display: flex;
    justify-content: center;
}
ul {
  position: relative;
  display: block;
  padding: 20px 20px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}