

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
    float: right;
    display: none;
    color: rgb(223, 215, 216);
    display: block;
}