.todo {
    border-bottom: 1 px solid white;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
    float:right;
}
li {
    margin: 0;
    padding: 10px 20px;
    text-transform:capitalize;
    font-size: 24px;
    font-weight: normal;
    display: flex;
    justify-content:center;
}